body{
    width: 100vw;
    height: 100vh;
    background-color:#F6E49C;
    display:grid;
    place-items:center;
    position:absolute;
  }
  div {
    width: 120px;
    height:40px;
    background-color:#2F5C24;
    position:absolute;
    top:82px;
    left:51px;
    box-shadow:0px 80px 0px #2F5C24,81px 40px 0px #2F5C24;
    
  }
  div:before{
    display:block;
    content:"";
    width:40px;
    height:40px;
    background-color:#F6E49C;
    border:40px solid #2F5C24;
    position:absolute;
    left:160px;
  }